div.chatList {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--bg-chat);
}
.chatList:hover {
    background-color: #ececec;
}


.chatList-avatar {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
    /* margin-top: 10px; */
}

.divChatList {
    display: flex;
    flex: 1;
    margin-right: 100px;
}

.chatList-lines {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-right: 15px;
    margin-left: 80px;
    margin-top: -60px;
    padding-top: 15px;
    height: 100%;

}

.chatList-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.chatList-name {
    font-size: 17px;
    color: #000;
}

.chatList-date {
    font-size: 12px;
    color: #999;
}

.chatList-lastMsg {
    font-size: 14px;
    color: #999;
    display: flex;
    width: 100%;
}

.chatList-lastMsg p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}