aside.menu-area {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
}

.search {
    background-color: #f6f6f6;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
}

.search > div {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 35px;
}

.search input {
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
    width: 350px;
    margin: 5px 0px;
}

.search i.v-middle {
    vertical-align: middle;
}
