.chatList {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
}

.chatList::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.chatList::-webkit-scrollbar-thumb {
    background-color: rgba(148, 148, 148, 0.452);
}